<h1>Komas#show</h1>
<ul>
<% for k in 0..@layers.count-1 do %>
<% layer = @layers[k] %>
	<li>
		<% if @correct_user %>
			<% @a_id = layers[k - 1] unless k == 0 %>
			<% @b_id = layers[k + 1] unless k == @layers.count - 1 %>
			<% get_data = "?layer_above_id=#{@a_id}&layer_below_id=#{@b_id}" %>
			<%= link_to "Insert layer", manga_path(@manga) + chapter_path(@chapter) + koma_path(@koma) + new_layer_path + get_data %>
		<% end %>
		<%= image_tag layer.picture.pic.url unless layer.picture.nil? %>
		
	</li>
<% end %>
</ul>
<% if @correct_user %>
	<%= link_to "Insert layer", manga_path(@manga) + chapter_path(@chapter) + koma_path(@koma) + new_layer_path %>
<% end %>


