<div class="hero-unit">
	<h1>Manga Index!</h1>
	<p>Check out the works of others or make your own!</p>
	<p><%= link_to "Create new manga »", new_manga_path, :class => "btn primary large" %></p>
</div>
<%= will_paginate @mangas %>

	<% @mangas.each do |manga| %>
	<div class="row">
		<h3><%= link_to manga.title, manga %></h3>
		<p>Manga summary goes here</p>
	</div>
	<% end %>

<%= will_paginate @mangas %>


