
 <!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
	<h1>Featured 4koma!</h1>
	<p>[Not Implemented Yet!]</p>
	<p><a class="btn primary large">View &raquo;</a></p>
</div>

 <!-- Example row of columns -->
  <div class="row">
    <div class="span-one-third">
      <h2>People's Choice</h2>
      <p>Top three manga by popularity</p>
      <p><a class="btn" href="#">View &raquo;</a></p>
    </div>
    <div class="span-one-third">
      <h2>Latest Updates</h2>
       <p>The most recently updated manga. </p>
      <p><a class="btn" href="#">View &raquo;</a></p>
   </div>
   <div class="span-one-third">
      <h2>Best Rated</h2>
       <p>The highest rated manga. </p>
      <p><a class="btn" href="#">View &raquo;</a></p>
   </div>
  </div>


